In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv('BankNote_Authentication.csv')

In [4]:
df

      variance  skewness  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [5]:
X=df.drop('class',axis=1)

In [6]:
X

      variance  skewness  curtosis  entropy
0      3.62160   8.66610   -2.8073 -0.44699
1      4.54590   8.16740   -2.4586 -1.46210
2      3.86600  -2.63830    1.9242  0.10645
3      3.45660   9.52280   -4.0112 -3.59440
4      0.32924  -4.45520    4.5718 -0.98880
...        ...       ...       ...      ...
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

[1372 rows x 4 columns]

In [7]:
y=df['class']

In [8]:
y

0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: class, Length: 1372, dtype: int64

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
model=LogisticRegression()

In [12]:
model.fit(X_train,y_train)

LogisticRegression()

In [13]:
y_pred=model.predict(X_test)

In [14]:
model.score(X_test,y_test)

0.9854227405247813

In [15]:
df[df['class']==1]

      variance  skewness   curtosis  entropy  class
762   -1.39710   3.31910  -1.392700 -1.99480      1
763    0.39012  -0.14279  -0.031994  0.35084      1
764   -1.66770  -7.15350   7.892900  0.96765      1
765   -3.84830 -12.80470  15.682400 -1.28100      1
766   -3.56810  -8.21300  10.083000  0.96765      1
...        ...       ...        ...      ...    ...
1367   0.40614   1.34920  -1.450100 -0.55949      1
1368  -1.38870  -4.87730   6.477400  0.34179      1
1369  -3.75030 -13.45860  17.593200 -2.77710      1
1370  -3.56370  -8.38270  12.393000 -1.28230      1
1371  -2.54190  -0.65804   2.684200  1.19520      1

[610 rows x 5 columns]

In [16]:
df[df['class']==0]

     variance  skewness  curtosis  entropy  class
0     3.62160   8.66610 -2.807300 -0.44699      0
1     4.54590   8.16740 -2.458600 -1.46210      0
2     3.86600  -2.63830  1.924200  0.10645      0
3     3.45660   9.52280 -4.011200 -3.59440      0
4     0.32924  -4.45520  4.571800 -0.98880      0
..        ...       ...       ...      ...    ...
757   2.66060   3.16810  1.961900  0.18662      0
758   3.93100   1.85410 -0.023425  1.23140      0
759   0.01727   8.69300  1.398900 -3.96680      0
760   3.24140   0.40971  1.401500  1.19520      0
761   2.25040   3.57570  0.352730  0.28360      0

[762 rows x 5 columns]

In [17]:
from sklearn.svm import SVC

In [18]:
classifier=SVC()

In [19]:
classifier.fit(X_train,y_train)

SVC()

In [20]:
from sklearn.model_selection import GridSearchCV

In [ ]:
clf=GridSearchCV(SVC(gamma='auto'),{
    "C":[1,10,20],
    "kernel":['rbf','linear']
},cv=5,return_train_score=False)

In [ ]:
clf.fit(X,y)

In [ ]:
clf.cv_results_